.ui-btn {
  display: inline-block;
  min-width: 66px;
  height: 30px;
  padding: 0 15px;
  line-height: 31px;
  text-align: center;
  color: #ff6900; }
  .ui-btn:hover {
    color: #e65e00; }
  .ui-btn[data-view="style1"] {
    min-width: 100px;
    background-color: #ff6900;
    color: #fff; }
    .ui-btn[data-view="style1"]:hover {
      background-color: #e65e00; }
  .ui-btn[data-view="style2"] {
    min-width: 100px;
    background-color: #59baf5;
    color: #fff; }
    .ui-btn[data-view="style2"]:hover {
      background-color: #41b0f4; }
  .ui-btn[data-view="style3"] {
    min-width: 100px;
    background-color: #ff5967;
    color: #fff; }
    .ui-btn[data-view="style3"]:hover {
      background-color: #ff4050; }
  .ui-btn[data-view="style4"] {
    background-color: transparent;
    color: #a1a19f;
    border: 1px solid #a1a19f; }
    .ui-btn[data-view="style4"]:hover {
      color: #888885;
      border-color: #888885; }

/* 管理转移css */
.org-admin-transfer *:before {
    top:10px;
}
.org-admin-transfer {
  display: inline-block;
  position: relative;
  width: 410px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  color: #a0a0a0;
  text-align: left; }
  .org-admin-transfer .head {
    padding: 5px 20px 15px 0;
    border-bottom: 1px solid #bee6f9;
    color: #333; }
    .org-admin-transfer .head a {
      margin-left: 15px;
      color: #2b3f58; }
  .org-admin-transfer .org-input-box {
    position: relative;
    height: 45px;
    margin: 30px 0;
    padding: 5px 40px 5px 51px;
    background: #f3f4f8 url(../img/icon_bg2.png) left no-repeat; }
    .org-admin-transfer .org-input-box:before {
      content: attr(icon);
      position: absolute;
       top: 0px;
      left: 10px;
      font-size: 24px;
      color: #a0a0a0; }
    .org-admin-transfer .org-input-box input {
      width: 100%;
      height: 100%;
      padding: 5px;
      border: none;
      background: transparent;
      outline: none; }
    .org-admin-transfer .org-input-box .icon-item {
      position: absolute;
      right: 5px;
      top: 0px; }
    .org-admin-transfer .org-input-box .eye {
      font-size: 24px;
      color: #b5b5b5; }
      .org-admin-transfer .org-input-box .eye:hover {
        color: #a8a8a8; }
      .org-admin-transfer .org-input-box .eye.current {
        color: #59baf5; }
        .org-admin-transfer .org-input-box .eye.current:hover {
          color: #41b0f4; }
    .org-admin-transfer .org-input-box.two-icon {
      padding-right: 70px; }
    .org-admin-transfer .org-input-box .correct, .org-admin-transfer .org-input-box .error {
      font-size: 20px;
      color: #75c814; }
      .org-admin-transfer .org-input-box .correct:after, .org-admin-transfer .org-input-box .error:after {
        content: '\e605'; }
    .org-admin-transfer .org-input-box .error {
      color: #fa99a3; }
      .org-admin-transfer .org-input-box .error:after {
        content: '\e621'; }
    .org-admin-transfer .org-input-box .ui-ipt-tips {
      top: 48px;
      left: 48px; }
  .org-admin-transfer .admin-btn {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    line-height: 59px;
    font-size: 20px;
    border-radius: 5px; }

/* end 管理转移css */